<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FastClieckWebAppMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FastClieckWebAppMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div id="particles-js"></div>
        <audio src="/Image/backgroundSong.mp3" loop></audio>
        <div class="logo"></div>
        <a href="#playPart" id="playButton" onmouseover="changeContent(true)" onmouseout="changeContent(false)">▶</a>
    </header>

    <main>
        @RenderBody()
    </main>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FastClieckWebAppMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
